


.col-xs-2 {
	height:200px;
	text-align: center;
	background-color: purple;
	border: 3px solid black;
	color:white;
}

.col-xs-8 {
	height:200px;
	text-align: center;
	background-color: yellow;
	border: 2px solid black;
	color:purple;

}


.col-sm-4 {
	height:200px;
	text-align: center;
	background-color: orange;
	border: 3px solid black;
	color:purple;
}

#display {
	font-family: arial;
	font-size:50px;
	color:purple;
}